CREATE TABLE IF NOT EXISTS chapters (
  id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,
  lesson_id UUID REFERENCES lessons(id) ON DELETE CASCADE,
  course_id UUID REFERENCES courses(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  timestamp_seconds INTEGER NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

ALTER TABLE chapters ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Enable
read
access
for
all
users\ ON chapters FOR SELECT USING (true);
CREATE POLICY \Enable
insert
for
authenticated
users
only\ ON chapters FOR INSERT WITH CHECK (auth.role() = 'authenticated');

ALTER TABLE courses ADD COLUMN IF NOT EXISTS outcomes JSONB;

